<main>
    <h1 mat-dialog-title class="cabecalho"> Cadastrar Produto </h1>
    <h1 class="fecharDialog" (click)="fecharDialog()" > X </h1>    

    <div mat-dialog-content>

        <form (ngSubmit)="postar()">

            <h6 class="enviarImagem">Enviar Imagem</h6>
            <p class="textoArquivoImagem">O arquivo de imagem para o seu produto</p>
            
                <label for="inputFile" class="containerEnvioImagem" tabindex="0">

                    <div class="containerMensagem" *ngIf="!produto.imageBase64">
                        <div class="containerNuvemDeEnvio">
                            <img class="nuvem" src="assets/img/enviaUm.svg" alt="Icone de Envio">
                            <img class="complementoNuvem" src="assets/img/enviaCinco.svg" alt="Icone de Envio">
                            <img class="circulo" src="assets/img/enviaDois.svg" alt="Icone de Envio">
                            <img class="vertical" src="assets/img/enviaTres.svg" alt="Icone de Envio">
                            <img class="seta" src="assets/img/enviaQuatro.svg" alt="Icone de Envio">
                        </div>

                        <h6 class="arrasteSolte">Arraste e solte um arquivo aqui ou <h6 class="escolhaArquivo"> Escolha Arquivo </h6> </h6>
                        <p>Formatos Suportados: JPEG, PNG</p>
                    </div>

                    <input type="file" accept="image/png,image/JPEG" name="imageBase64" (change)="mudancaFormatoImg($event)"
                        tabindex="0" id="inputFile">

                    <div class="mensagemPosEnvio" *ngIf="produto.imageBase64">
                        <span class="imagemCarregada">
                            <img src="{{produto.imageBase64}}" alt="Modelo Tenis">
                        </span>

                        <p> {{nomeImagem}} </p>

                        <div class="lixeira">
                            <i class="fa-solid fa-trash-can" (click)="limparImagem()"></i>
                        </div>
                    </div>

                </label>            

            <label class="titulo" for="">Título:</label>

            <mat-form-field appearance="outline" class="containerInputTitulo">
                <input matInput name="title" [(ngModel)]="produto.title">
            </mat-form-field>

            <label class="descricao" for="">Desrição:</label>

            <mat-form-field class="example-full-width" class="containerInputDescricao" appearance="outline">
                <textarea matInput name="description" [(ngModel)]="produto.description"></textarea>

            </mat-form-field>

            <label class="preco" for="">Preço:</label>

            <mat-form-field appearance="outline" floatLabel="always" class="containerInputPreco">
                <input matInput type="number" name="price" value="0" [(ngModel)]="produto.price">
                <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>

            <h5 class="cancelar" (click)="limparCampos()">Cancelar</h5>
            <button type="submit" mat-button> <i class="fa-regular fa-floppy-disk"></i> Salvar</button>
        </form>
    </div>
</main>