<div class="pagina">

    <div class="containerEfeitoImagem"></div>
    
    <div class="container">

        <div class="circulo">
            <div></div>
        </div>

        <div class="mensagem">
            <h1>Tenha <b>controle</b> de <br> todos os seus produtos</h1>
            <p>Gerencie seu estoque!</p>
        </div>

        <form action="">
            <div class="containerLogin">
        
                <h2>Login</h2>
                <div class="containerUsuario">
        
                    <label class="label-input" for="nome">Nome de usuário:</label>
                    <input type="text" placeholder="Nome de usuário">
        
                </div>
                <div class="containerSenha">
                    <label class="label-input" for="senha">Senha:</label>
                    <input type="password" placeholder="Digite sua senha">        
                </div>
        
                <div class="botao">        
                    <button type="submit">
                        <label class="label-botao" for="submit">Entrar</label>        
                    </button>        
                </div>

                <div class="criarCadastro">
                    <p (click)="registrarConta()">Criar Conta</p>
                </div>

            </div>
        </form>
    </div>
</div>