<div class="pagina">
    <div class="container">

        <div class="circulo">
            <div></div>
        </div>

        <div class="mensagem">
            <h1>Tenha <b>controle</b> de <br> todos os seus produtos</h1>
            <p>Gerencie seu estoque!</p>
        </div>

        <div class="container-login">            

            <h2>Login</h2>
                        
                <div class="container-usuario">
            
                    <label class="label-input" for="nome">Nome de usuário:</label>
                    <input type="text" placeholder="Nome de usuário">
            
                </div>
                <div class="container-senha">
                    <label class="label-input" for="senha">Senha:</label>
                    <input type="password" placeholder="Digite sua senha">
            
                </div>
            
            <div class="botao">

                <button type="submit">
                    <label class="label-botao"for="submit">Entrar</label>
                    
                </button>
                
            </div>

        </div>
    </div>
</div>