<main>

    <div mat-dialog-content >

        <div class="containerVisualizador">

            <div mat-dialog-actions class="containerBotao">
                <button mat-button (click)="fecharDialog()"><i class="fa-solid fa-less-than"></i> Voltar </button>
            </div>

            <div class="containerEfeitoImagem"></div>

            <div class="imagem">
                <img src="{{publicacoes.imageBase64}}" alt="Modelo Do tênis">
            </div>

            <h1> {{publicacoes.title}} </h1>

            <div class="avaliacao">
                <p class="estrelaUm"> <i class="fa-solid fa-star"></i> </p>
                <p class="estrelaDois"><i class="fa-solid fa-star"></i> </p>
                <p class="estrelaTres"><i class="fa-solid fa-star"></i></p>
                <p class="estrelaQuatro"><i class="fa-solid fa-star"></i></p>
                <p class="estrelaCinco"> <i class="fa-solid fa-star"></i> </p>

                <p class="pontos">4.3</p>
            </div>

            <h2> {{publicacoes.price | currency}}</h2>

            <p class="descricao"> {{publicacoes.description}} </p>

        </div>

    </div>

</main>